<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <title>APKSneeze</title>
</head>

<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <div class="container-fluid d-flex flex-column p-0">
          <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
              <!-- <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-android"></i></div> -->
              <div class="sidebar-brand-text mx-3"><span>apksneeze lab</span></div>
          </a>
          <hr class="sidebar-divider my-0">
          <ul class="nav navbar-nav text-light" id="accordionSidebar">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" href="/"><i class="fas fa-home"></i><span>Home</span></a>
                <a class="nav-link active" href="/analysis"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                <a class="nav-link active" href="/"><i class="fas fa-temperature-low"></i><span>Yara rules</span></a>
                <a class="nav-link active" href="/"><i class="fas fa-sort-alpha-up"></i><span>Grep patterns</span>&nbsp;(strings)</a>
                <a class="nav-link active" href="/"><i class="fas fa-cog"></i><span>Settings</span></a>
              </li>
              <li class="nav-item" role="presentation"></li>
              <li class="nav-item" role="presentation"></li>
              <li class="nav-item" role="presentation"></li>
              <li class="nav-item" role="presentation"></li>
          </ul>
          <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
    
  <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.min.js') }}"></script>
</body>
</html>