{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <h1 class="text-center">Upload Apk</h1>
        </div>
        <div class="container">
            <form id="analysis-form" class="text-left" method="post" action="/analysis" enctype="multipart/form-data"><input type="file" required="" name="file">
                <div class="form-check"><input name="get-code-zip" class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Prepare decompiled code (zip file)</label></div>
                <!-- <div class="form-check"><input name="get-jar-file" class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Prepare Jar file</label></div> -->
                <div class="form-check"><input name="run-grep-code" class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Run Grep against decompiled files</label></div>
                <div class="form-check"><input name="run-yara-apk" class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Run Yara rules against apk file</label></div>
                <div class="form-check"><input name="run-yara-code" class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Run Yara rules against decompiled files</label></div>
            </form><a id="form-btn" class="btn btn-success btn-icon-split" role="button" style="margin-top: 4px;"><span class="text-white-50 icon"><i class="fas fa-check"></i></span><span class="text-white text">Run Analysis</span></a></div>
            <script>
                $("a#form-btn").click(function()
                {
                $("#analysis-form").submit();
                    return false;
                });
            </script>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock content %}