{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container">
            <h1>Report</h1>
            <h2>{{ apk.name }}</h2><button class="btn btn-secondary" type="button">Get sample</button><button class="btn btn-primary" type="button" style="margin: 2px;">Get decompiled code</button><!-- <button class="btn btn-primary" type="button">Get Jar</button> -->
            <a
                class="btn btn-danger btn-icon-split" role="button" style="margin-left: 2px;"><span class="text-white-50 icon"><i class="fas fa-trash"></i></span><span class="text-white text">Delete</span></a>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th scope="row">Size (Bytes)</th>
                                <td>{{ apk.filesize }}</td>
                            </tr>
                            <tr>
                                <th scope="row">MD5</th>
                                <td>{{ apk.md5_hash }}</td>
                            </tr>
                            <tr>
                                <th scope="row">SHA1</th>
                                <td>{{ apk.sha1_hash }}</td>
                            </tr>
                            <tr>
                                <th scope="row">SHA256</th>
                                <td>{{ apk.sha256_hash }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="container">
            <h3>Manifest File</h3><button class="btn btn-primary" type="button" style="margin-bottom: 2px;">Get manifest file</button>
            <div class="table-responsive">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Package name</td>
                            <td>{{ apk.report.package_name }}</td>
                        </tr>
                        <tr>
                            <td>Permissions</td>
                            <td>{{ apk.report.services | length }}</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Permissions List</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for perm in apk.report.permissions %}
                        <tr>
                            <td>{{ perm.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <h3>Strings</h3><button class="btn btn-primary" type="button" style="margin-bottom: 2px;">Full View (includes hits)</button>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Pattern</th>
                            <th># of hits</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in strings %}
                        <tr>
                            <td>{{ s['pattern'] }}</td>
                            <td>{{ s['count'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <h3>Yara</h3><button class="btn btn-primary" type="button" style="margin-bottom: 2px;">View Full</button>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Rule match</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bankerv9</td>
                        </tr>
                        <tr>
                            <td>RAT</td>
                        </tr>
                        <tr>
                            <td>Drill</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock content %}