{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container">
            <h1>Report</h1>
            <h2>{{ apk.name }}</h2><a href="{{ url_for('views.download_sample', id=apk.id) }}" class="btn btn-secondary" type="button">Get sample</a><a href="{{ url_for('views.download_zip_file', id=apk.id) }}" class="btn btn-primary" type="button" style="margin: 2px;">Get decompiled code</a><!-- <button class="btn btn-primary" type="button">Get Jar</button> -->
            <a
                class="btn btn-danger btn-icon-split" href="{{ url_for('views.delete_report', id=apk.id) }}" role="button" style="margin-left: 2px;"><span class="text-white-50 icon"><i class="fas fa-trash"></i></span><span class="text-white text">Delete</span></a>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th scope="row">Size (Bytes)</th>
                                <td>{{ apk.filesize }}</td>
                            </tr>
                            <tr>
                                <th scope="row">MD5</th>
                                <td>{{ apk.md5_hash }}</td>
                            </tr>
                            <tr>
                                <th scope="row">SHA1</th>
                                <td>{{ apk.sha1_hash }}</td>
                            </tr>
                            <tr>
                                <th scope="row">SHA256</th>
                                <td>{{ apk.sha256_hash }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="container">
            <h3>Manifest File</h3><a class="btn btn-primary" type="button" style="margin-bottom: 2px;" href="{{ url_for('views.download_manifest', id=apk.id) }}">Open manifest file</a>
            <div class="table-responsive">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Package name</td>
                            <td>{{ apk.report.package_name }}</td>
                        </tr>
                        <tr>
                            <td>Permissions</td>
                            <td>{{ apk.report.permissions | length }}</td>
                        </tr>
                        <tr>
                            <td>Services</td>
                            <td>{{ apk.report.services | length }}</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Permissions List</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for perm in apk.report.permissions %}
                        <tr>
                            <td>{{ perm.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Services List</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for svc in apk.report.services %}
                        <tr>
                            <td>{{ svc.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <h3>Strings</h3>
            {% if strings %}
            <a href="{{ url_for('views.show_strings', id=apk.id) }}" class="btn btn-primary" type="button" style="margin-bottom: 2px;">Full View (includes hits)</a>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Pattern</th>
                            <th># of hits</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in strings %}
                        <tr>
                            <td>{{ s['pattern'] }}</td>
                            <td>{{ s['count'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <p> Either there is no hits or grep against the decompiled files was not initiated.</p>
            {%endif%}
        </div>
        <div class="container">
            <h3>Yara <small>decompiled code scan</small></h3>
            {% if yara_code_matches %}
            <a href="{{ url_for('views.show_yara_code', id=apk.id) }}" class="btn btn-primary" type="button" style="margin-bottom: 2px;">View Full</a>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Rule match</th>
                            <th># of Hits</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in yara_code_matches %}
                        <tr>
                            <td>{{ m['rule_name'] }}</td>
                            <td>{{ m['count'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p> Either there is no hits or a scan against the decompiled files was not initiated.</p>
            {%endif%}
        </div>
        <div class="container">
            <h3>Yara <small>apk file scan</small></h3>
            {% if yara_apk_matches %}
            <a href="{{ url_for('views.show_yara_apk', id=apk.id) }}" class="btn btn-primary" type="button" style="margin-bottom: 2px;">View Full</a href="{{ url_for('views.download_sample', id=apk.id) }}">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Rule match</th>
                            <th># of Hits</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in yara_apk_matches %}
                        <tr>
                            <td>{{ m['rule_name'] }}</td>
                            <td>{{ m['count'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p> Either there is no hits or a scan against the apk file was not initiated.</p>
            {%endif%}
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock content %}