{% extends 'base.html' %}

{% block content %}
<h1>Yara Results</h1>
<h3>{{ apk.name }} <small>{{ apk.codename }}</small></h3>
{% if yara_scans %}
<div>
    <table class="table table-striped">
        <thead>
            <tr><thead>Yara Hits</thead></tr>
        </thead>
        <tbody>
            {% for scan in yara_scans %}
                {% for match in scan[1] %}
                    <tr>
                        <th scope="row">{{ match.rule }}</th>
                        <td>{{ scan[0] }}</td>
                    </tr>
                {% endfor %}
                {# {% for match in scan[1] %}
                <tr>
                    <th scope="row">{{ scan[0] }}</th>
                    <td>{{ match.strings }}</td>
                </tr>
                {% endfor %} #}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}