{% extends 'base.html' %}

{% block content %}
<link href="{{ url_for('static', filename='css/prism.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='js/prism.js') }}"></script>

<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container">
            {# <div class="container-fluid"> #}
                <h1 class="text-left">Configure Yara</h1>
                <h3 class="text-left">Loaded Rules:</h3>
            {# </div> #}
        </div>
        <div class="container">
            <pre><code class="language-ruby">{% for r in rules %}
{{ r }}{% endfor %}
</code></pre>
        </div>
        <div class="container">
            <h3>Upload Custom Patterns</h3>
            <p>The following yara file contains the current rules: </p><a href="{{ url_for('views.download_yara_rules') }}">download apksneeze.yar</a></div>
        <div class="container">
            <form id="file-form" method="post" action="/config/yara" enctype="multipart/form-data">
                <input name="file" required="" type="file">
                <button id="form-btn" class="btn btn-primary" type="button">submit</button>
            </form>
            <script>
                $("button#form-btn").click(function()
                {
                $("#file-form").submit();
                    return false;
                });
            </script>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock content %}